<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="{{url_for('static', filename='script/script.js')}}"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {%block head%}{%endblock%}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          a{
            color: white;
          }
        </style>
        <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" style="color: white;" href="../">Markets</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Stocks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{ url_for('DOW') }}">DOW</a>
                      <a class="dropdown-item" href="{{ url_for('NASDAQ') }}">NASDAQ 100</a>
                      <a class="dropdown-item" href="{{ url_for('FTSE') }}">FTSE 100</a>
                      <a class="dropdown-item" href="{{url_for('S_AND_P',pnum=1)}}">S&P 500</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white" href="href={{url_for('ETFS')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ETFs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{url_for('ETF_Sector',sector='mutual-funds')}}">Mutual Funds</a>
                      <a class="dropdown-item" href="{{url_for('ETF_Sector',sector='index-etfs')}}">Index ETFs</a>
                      <a class="dropdown-item" href="{{url_for('ETF_Sector',sector='sector-etfs')}}">Sector ETFs</a>
                      <a class="dropdown-item" href="{{url_for('ETF_Sector',sector='country-etfs')}}">Country ETFs</a>
                      <a class="dropdown-item" href="{{url_for('ETF_Sector',sector='commodity-etfs')}}">Commodity ETFs</a>
                      <a class="dropdown-item" href="{{url_for('ETF_Sector',sector='market-volatility-etfs')}}">Volatility ETFs</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color:white" href="{{url_for('Crypto',p=1)}}">Cryptocurrency</a>
                  </li>
              </ul>
            </div>
          </nav>
        {%block body%}{%endblock%}
    </body>
</html>